modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_AkAcUZqGDrIeHCJWtNIuRHFoyJN"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_QxarEUFMwERwFxJlCoAEtoQkCPO"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_uBoauWMtENsOPFHOguASyFbEUJm"
REVENUECAT_PROJECT_ID = "projfa8d0353"
REVENUECAT_TEST_STORE_APP_ID = "appa9cdac4b45"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app488aeaf3f6"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app7099677256"
